* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url("./auth.scss");
@import url("./features/login/login.scss");
@import url("./features/logout/logout.scss");
